.container {
    background-image: url('../../../public/arctica.webp');
    min-height: 30rem;
   
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    /* align-items: flex-start;  */
    justify-content: center; 
   opacity: 0.7;
}

.main_title{
    display: inline-block;
    color: rgb(21, 20, 20);
    margin-top: 4rem;
    padding-top: 0;
    font-size: 3rem;
}