.page {
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/containerVessel.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.main {
  font-size: 1.2rem;
  color: #f5eeee;
}
